* {
  font-family: "Lexend", sans-serif;
  color: #2b2b39;
  /* text-align: center; */
}
.hero {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}
.onboard {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}
input[type="password"] {
  /* letter-spacing: 0.125em; */
}
